<div>
	
	<form>
		<input type="text" name="temp" [(ngModel)]="record.temp">
		<input type="text" name="humidity" [(ngModel)]="record.humidity">
		<input type="text" name="co2" [(ngModel)]="record.co2">
		<button *ngIf="!show_record" (click)="postRecord(record)">Crear Registro</button>
		<button *ngIf="show_record" (click)="putRecord(record)">Guardar Registro</button>
		<button *ngIf="show_record" (click)="closeRecord()">Cancelar</button>
		<div class="alert alert-danger" *ngIf="error.co2" role="alert">
  {{error.co2}}
</div>
<div class="alert alert-danger" *ngIf="error.temp" role="alert">
  {{error.temp}}
</div>
<div class="alert alert-danger" *ngIf="error.humidity" role="alert">
  {{error.humidity}}
</div>

	</form>
<app-lista [records]="records" (shoRecord)="showRecord($event)" (delRecord)="deleteRecord($event)"></app-lista>

</div>